---
import Logo from "@/assets/logo/LADI-logo-SVG-RGB.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Webpage description goes here" />
    <meta charset="utf-8" />
    <title>Expired</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <div class="">
      <div class="w-fit px-10 my-10 mx-auto leading-10 text-center">
        <div>
          <img
            src={Logo.src}
            alt="logo"
            loading="eager"
            decoding="async"
            class="w-[500px] aspect-[3/2] mx-auto"
          />
        </div>
        <p>The link you are viewing has expired.</p>
        <p>Please, contact the administrator for assistance.</p>
        <p>email: Alberth@LADesignInitiative.com</p>
        <p>
          Visit <a href="https://www.LADesignInitiative.com" rel="nofollow"
            >www.LADesignInitiative.com</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
