---
const { tag, url } = Astro.props;
---

<li
  class="hover:underline hover:font-bold my-5 cursor-pointer list-none capitalize rounded-[0.5em] w-fit border-2 text-base border-[#a1a1a1] p-1 bg-[#F8FCFD] tagListItem"
>
  <a class="!text-black" href={url}>{tag}</a>
</li>
