---
import "./grass.css"
import Grass from '@/assets/images/shape/shape-2.png'
--- 
<div 
class="absolute left-0 right-0 bottom-[-1px] sm:bottom-0 bg-repeat-x h-[54px] w-full z-[19] animated-grass"
style = `background-image: url(${Grass.src})`
></div>