---
import { BusinessInfo } from "@/data/business-info.js";
import "./about-style.css";
import Helen from "@/assets/images/helen-bg-removed.webp";
---

<section id="top-section" class="flex md:px-6">
  <div id="person_block" class="relative w-full h-fit block sm:mb-[100px]">
    <div
      class="w-[250px] h-[250px] mx-auto relative rounded-full bg-[#2f7955] sm:w-[470px] sm:h-[470px]"
    >
    </div>
    <div
      class="absolute top-[153px] hidden sm: block right-[-75px] w-[150px] h-[219px] bg-no-repeat bg-[url('../src/assets/images/shape/shape-19.png')]"
    >
    </div>
    <figure
      class="absolute w-[200px] sm:w-[350px] left-[50%] translate-x-[-50%] bottom-0 z-30 block sm:w-[375px] h-auto"
    >
      <img
        src={Helen.src}
        alt="Helen Business owner of Hardrock Landscaping"
        class="object-cover w-[200px] sm:w-[450px] aspect-[3/4] mx-auto"
        loading="eager"
        decoding="async"
      />
    </figure>
    <div
      id="circle_info"
      class="hidden sm:block absolute flex sm:rounded-full about-box-shadow z-[31] centered bg-white z-10 sm:w-[270px] sm:h-[270px] bottom-0 justify-center"
    >
      <div
        class="grid !m-auto w-fit h-fit text-center top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] relative"
      >
        <div class="relative text-6xl theme_color leading-[60px] mb-[12px]">
          <i class="icon-16"></i>
        </div>
        <p class="text-xl leading-[32px] font-medium">
          300+ People Choose {BusinessInfo.companyName}
        </p>
      </div>
    </div>
  </div>
  <div class="px-5 mx-auto md:ml-16">
    <h1
      class="text-center sm:left relative block text-[18px] font-[600] mb-[16px] uppercase text-[#2f7955]"
    >
      About
    </h1>
    <h2
      class="text-center sm:left block font-['Prata',serif] font-[400] text-[#141417] text-6xl mb-10"
    >
      Over 10 years of great service
    </h2>
    <div class="[&>*]:mb-10">
      <p>
        Helen Gonzalez always had a passion for outdoor work and loves working
        with flowers and trees. She earned her Bachelor's Degree in interior
        design at Brooks College and eventually moved on to exterior design
        work.
      </p>

      <p>
        She started Hard Rock Landscaping in 2014, initially providing long-care
        maintenance yard work and working her way to more complex projects.
        Eventually, she found her footing in delivering outstanding services in
        artificial turf installation, tree trimming, and cement work to her
        clients for over 10 years.
      </p>

      <p>
        She hopes that by thriving as a female business owner, she can set an
        example for other aspiring female entrepreneurs to follow her steps.
      </p>

      <p>
        Helen's philosophy on what it takes to deliver great customer service is
        understanding how her clients envision their backyards and fostering
        great communication to exceed their expectations. She diligently works
        alongside her clients to craft the perfect strategy so that their
        backyard achieves the desired purpose. Every project she has worked on
        is unique. Whether it is designing a backyard for artistic beauty, a
        family BBQ, dogs, children, etc., Helen has done them all. The wide
        variety of projects has given her the knowledge and experience to
        deliver any result that her clients want, no matter how challenging it
        may be. Landscaping is a lifestyle to Helen and her business allows her
        to utilize her passion to help clients achieve their desired outcomes.
      </p>
    </div>
  </div>
  <div
    class="block sm:hidden text-center w-[250px] h-[250px] mx-auto rounded-full about-box-shadow"
  >
    <div
      class="grid !m-auto w-fit h-fit text-center top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] relative"
    >
      <div class="relative text-6xl theme_color leading-[60px] mb-[12px]">
        <i class="icon-16"></i>
      </div>
      <h4 class="text-xl leading-[32px] font-medium">
        300+ Clients Choose {BusinessInfo.companyName}
      </h4>
    </div>
  </div>
</section>
