---
const { label, link } = Astro.props;
---

<a href={link}>
  <button
    class="overflow-hidden bg-[#0685c4] hover:bg-secondaryC rounded-sm cursor-pointer group active:translate-x-[1px] active:translate-y-[1px]"
  >
    <div
      class="grid overflow-hidden w-[200px] min-h-[40px] max-h-[65px] relative"
    >
      <div class="flex flex-row-reverse relative">
        <span
          class="inline-block text-white uppercase font-bold px-5 py-2 text-lg absolute inset-0 transition-all duration-500 group-hover:translate-y-[-50px]"
          >{label}
        </span>
        <span
          class="inline-block text-white uppercase font-bold px-5 py-2 text-lg absolute inset-0 translate-y-[50px] transition-all duration-500 group-hover:translate-y-[0px]"
          >{label}
        </span>
        <div class="my-auto relative h-full w-[35px] overflow-x-hidden">
          <img
            src="/assets/icons/right-white.png"
            alt="navigation arrow"
            decoding="async"
            loading="eager"
            class="w-[35px] aspect-square absolute right-[5px] top-[10%] transition-all duration-500 group-hover:translate-x-[30px]"
          />
          <img
            src="/assets/icons/right-white.png"
            alt="navigation arrow"
            decoding="async"
            loading="eager"
            class="w-[35px] aspect-square absolute right-[5px] top-[10%] translate-x-[-30px] transition-all duration-500 group-hover:translate-x-[0px]"
          />
        </div>
      </div>
    </div>
  </button>
</a>
