---
const { customStyle } = Astro.props; 
---
<div
    class = {`btn-secondary cursor-pointer ${customStyle}`}
    id="BackButton"
>Go Back</div>
<script is:inline>
    const button = document.getElementById("BackButton")
    button?.addEventListener("mousedown", ()=>{history.back()})
</script>