---

---

<div
  class="relative block bg-primaryC text-secondarC w-fit rounded-[5px] group"
>
  <a
    href="/"
    class="relative inline-block overflow-hidden align-middle text-[17px] leading-[26px] font-600 font-primaryF text-white text-center py-[17px] px-[30px] rounded-[5px] capitalize z-[1] no-underline before:absolute before:inset-0 before:w-full before:h-full before:opacity-100 before:content-[''] before:z-[-1] before:bg-primaryHoverC before:max-w-0 group-hover:before:max-w-[100%] before:transition-all before:transition-linear before:duration-500"
    >Read More</a
  >
</div>
