---
import BlogPreview from "./previewLink.astro";
import type { formattedPostType } from "@/util/interface";
import { BusinessInfo } from "@/data/business-info";
const { postSelection } = Astro.props;
---

<div class="my-5 relative max-w-[1200px] mx-auto px-[15px]">
  <div class="sec-title mb-[55px] text-center">
    <span
      class="sub-title relative block text-[18px] leading-[28px] font-['Monserrat'] font-bold mb-[16px] uppercase"
      >Articles</span
    >
    <h2
      class="block text-[36px] leading-[44px] sm:text-[55px] sm:leading-[65px] font-['Prata'] relative font-medium text-[#141417] m-0"
    >
      Stay Update With <br />{BusinessInfo.companyName}
    </h2>
  </div>

  {
    postSelection && postSelection.length > 0 ? (
      <div class="grid sm:grid-cols-3 gap-5">
        {postSelection.map(async (post: formattedPostType) => {
          return <BlogPreview {...post} thumbnail={post.featured_image} />;
        })}
      </div>
    ) : (
      <p class="text-center text-base mx-auto my-10">
        There are currently not blog posts to show.
      </p>
    )
  }
</div>
