---
const {
    tag,
    url, 
} = Astro.props; 
---

<div 
class = "w-fit hover:underline hover:font-bold mx-1 cursor-pointer capitalize rounded-[0.5em] border-dotted border-2 text-base border-[#a1a1a1] p-1 bg-[#F8FCFD] tagListItem">
    <a 
        class = "!text-black"
        href = {url}>{tag}</a>
</div>