---
import TagListItem from './tagListItem.astro'; 
import { makeURLfriendly } from "@/hooks/string_hooks.tsx";
const {tags} = Astro.props; 
---

<div class = "flex flex-wrap ">
    <p
     class = "font-bold"
    >Tags:</p>
    {
    tags.map((item: {tag: string}) => <TagListItem url = {`/tags/${makeURLfriendly(item.tag)}/1`} tag ={item.tag} /> )
    }
</div>


