---
export const prerender = true;
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import ContentWrapper from "@/layout/ContentWrapper.astro";
import { makeURLfriendly } from "@/hooks/string_hooks.tsx";
import Banner from "@/components/small_banner/index.astro";
import type { PostType } from "@/util/interface.tsx";
var allPosts: Array<PostType> = [];
try {
  allPosts = await Astro.glob("../posts/*.md");
} catch (error) {}
var allTags = allPosts
  .map((post) => post.frontmatter.tags)
  .flat()
  .map((item) => item?.tag);
const tags = [...new Set(allTags)];
---

<StandardNavBar pageTitle="Search Posts By Index">
  <Banner title="Search posts by tags" />
  <ContentWrapper>
    <ul class="flex flex-row flex-wrap [&>li]:ml-5 justify-evenly">
      {
        tags &&
          tags.length > 0 &&
          tags.map((tag) => (
            <li class="hover:underline hover:font-bold my-5 cursor-pointer capitalize rounded-[0.5em] border-dotted border-2 text-[1.5rem] border-[#a1a1a1] p-1 bg-[#F8FCFD] tagListItem">
              <a href={`../tags/${makeURLfriendly(tag as string)}/1`}>{tag}</a>
            </li>
          ))
      }
    </ul>
  </ContentWrapper>
</StandardNavBar>
