---
const { customDiv } = Astro.props;
---

<div
  id="mobile-nav-toggler"
  class={`${customDiv ? customDiv : "mobile-nav-toggler my-auto mr-[1rem] cursor-pointer block"}`}
>
  <i class="icon-bar"></i>
  <i class="icon-bar"></i>
  <i class="icon-bar"></i>
</div>
