---
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import ReviewForm from "@/components/reputation-app/index.astro";
---

<StandardNavBar
  pageTitle="Feedback"
  customDescription="Let us know how we are doing."
  ToBeIndexed={false}
>
  <ReviewForm
    title="Leave us your feedback"
    description="We are constantly striving to be the best in the market and we value what your thoughts on working with us are."
  />
  <div class="translate-y-[15px]">
    <svg
      id="wave"
      style="transform:rotate(0deg); transition: 0.3s"
      viewBox="0 0 1440 270"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
          ><stop stop-color="rgba(35, 31, 32, 1)" offset="0%"></stop><stop
            stop-color="rgba(35, 31, 32, 1)"
            offset="100%"></stop></linearGradient
        ></defs
      ><path
        style="transform:translate(0, 0px); opacity:1"
        fill="url(#sw-gradient-0)"
        d="M0,27L80,49.5C160,72,320,117,480,144C640,171,800,180,960,157.5C1120,135,1280,81,1440,90C1600,99,1760,171,1920,198C2080,225,2240,207,2400,189C2560,171,2720,153,2880,121.5C3040,90,3200,45,3360,27C3520,9,3680,18,3840,31.5C4000,45,4160,63,4320,94.5C4480,126,4640,171,4800,193.5C4960,216,5120,216,5280,198C5440,180,5600,144,5760,139.5C5920,135,6080,162,6240,166.5C6400,171,6560,153,6720,157.5C6880,162,7040,189,7200,207C7360,225,7520,234,7680,220.5C7840,207,8000,171,8160,144C8320,117,8480,99,8640,112.5C8800,126,8960,171,9120,175.5C9280,180,9440,144,9600,139.5C9760,135,9920,162,10080,184.5C10240,207,10400,225,10560,234C10720,243,10880,243,11040,243C11200,243,11360,243,11440,243L11520,243L11520,270L11440,270C11360,270,11200,270,11040,270C10880,270,10720,270,10560,270C10400,270,10240,270,10080,270C9920,270,9760,270,9600,270C9440,270,9280,270,9120,270C8960,270,8800,270,8640,270C8480,270,8320,270,8160,270C8000,270,7840,270,7680,270C7520,270,7360,270,7200,270C7040,270,6880,270,6720,270C6560,270,6400,270,6240,270C6080,270,5920,270,5760,270C5600,270,5440,270,5280,270C5120,270,4960,270,4800,270C4640,270,4480,270,4320,270C4160,270,4000,270,3840,270C3680,270,3520,270,3360,270C3200,270,3040,270,2880,270C2720,270,2560,270,2400,270C2240,270,2080,270,1920,270C1760,270,1600,270,1440,270C1280,270,1120,270,960,270C800,270,640,270,480,270C320,270,160,270,80,270L0,270Z"
      ></path></svg
    >
  </div>
</StandardNavBar>
<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          if (entry.target.classList.contains("childrenFadeInFromBottomTag")) {
            for (let i = 0; i < entry.target.children.length; i++) {
              entry.target.children[i].classList.remove("fadeOutIntoBottom");
            }
          }
        }
      });
    };
    const options = { threshold: 0.3 };
    const Observer = new IntersectionObserver(callback, options);

    const ChildrenFadeInFromBottom = document.getElementsByClassName(
      "childrenFadeInFromBottomTag",
    );
    for (var i = 0; i < ChildrenFadeInFromBottom.length; i++) {
      Observer.observe(ChildrenFadeInFromBottom[i]);
    }
  });
</script>
