---
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import HeroSection from "@/components/hero-section/index.astro";
import TestimonialSection from "@/components/Testimonial/index.astro";
import { testimonials } from "@/data/testimonials.ts";
import WhySection from "@/components/home-components/why-install-artificial-turf.astro";
import WhyWorkWithUsSection from "@/components/home-components/why-work-with-us.astro";
import FlowSection from "@/components/home-components/flow.astro";
import ProjectSection from "@/components/home-components/featured-projects.astro";
import CTASection from "@/components/home-components/CTA-section.astro";
---

<StandardNavBar
  pageTitle="Say goodbye to grass maintenance with artificial turf installation"
  customDescription="Transform your yard with artificial turf installation! Say goodbye to grass maintenance and enjoy bliss in every step on lush, low-care artificial grass."
>
  <HeroSection />
  <WhySection />
  <FlowSection />
  <WhyWorkWithUsSection />
  <ProjectSection />
  <div class="sticky top-0">
    <TestimonialSection testimonials={testimonials} />
  </div>
  <CTASection />
</StandardNavBar>
<script is:inline>
  document.addEventListener("astro:page-load", () => {
    /* for the animations throughout the webpage*/

    const Bg1 = document.getElementById("background1");
    const Bg2 = document.getElementById("background2");
    const Bg3 = document.getElementById("background3");
    const Bg4 = document.getElementById("background4");

    /** Interest Section */
    const GraphicPatterns = document.getElementById("Graphic_patterns");
    const PatternTwo = document.getElementById("interest-pattern-2");
    const PatternThree = document.getElementById("interest-pattern-3");
    const SellItem1 = document.getElementById("selling-item-1");
    const SellItem2 = document.getElementById("selling-item-2");
    const SellItem3 = document.getElementById("selling-item-3");
    const SellItemInsignia1 = document.getElementById(
      "selling-item-insignia-1",
    );
    const SellItemInsignia2 = document.getElementById(
      "selling-item-insignia-2",
    );
    const SellItemInsignia3 = document.getElementById(
      "selling-item-insignia-3",
    );

    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          if (entry.target.classList.contains("fallingTag")) {
            entry.target.classList.remove("startingFallingAnim");
          }
          if (entry.target.classList.contains("floatUpTag")) {
            entry.target.classList.remove("floatUp");
          }
          if (entry.target.classList.contains("sinkTag")) {
            entry.target.classList.remove("sink");
          }
          if (entry.target.classList.contains("childrenFadeInFromBottomTag")) {
            for (let i = 0; i < entry.target.children.length; i++) {
              entry.target.children[i].classList.remove("floatUp");
            }
          }

          if (entry.target.id === "lower-cost") {
            entry.target.classList.remove("RotateInTag");
            Bg1.classList.remove("!max-h-0");
          }
          if (entry.target.id === "conservation") {
            entry.target.classList.remove("RotateInTag");
            Bg2.classList.remove("!max-h-0");
          }
          if (entry.target.id === "durability") {
            entry.target.classList.remove("RotateInTag");
            Bg3.classList.remove("!max-h-0");
          }
          if (entry.target.id === "safety") {
            entry.target.classList.remove("RotateInTag");
            Bg4.classList.remove("!max-h-0");
          }

          /* introducing flow */
          if (entry.target.classList.contains("rotateContainer")) {
            for (let i = 0; i < entry.target.children.length; i++) {
              entry.target.children[i].classList.remove("rotateOut");
            }
          }
          /*interest section*/
          if (entry.target.id === "Graphic_patterns") {
            if (!PatternTwo?.classList.contains("slideInRight")) {
              PatternTwo?.classList.add("slideInRight");
            }
            if (!PatternThree?.classList.contains("slideInLeft")) {
              PatternThree?.classList.add("slideInLeft");
            }
          }
          if (entry.target.classList.contains("SellExperience")) {
            entry.target.classList.remove("fadeOutDown");
          }
          if (entry.target.id === "selling-item-1") {
            entry.target.classList.remove("fadeOutDown");
            SellItemInsignia1.classList.add("before:scale-100");
          }
          if (entry.target.id === "selling-item-2") {
            entry.target.classList.remove("fadeOutDown");
            SellItemInsignia2.classList.add("before:scale-100");
          }
          if (entry.target.id === "selling-item-3") {
            entry.target.classList.remove("fadeOutDown");
            SellItemInsignia3.classList.add("before:scale-100");
          }
          if (entry.target.id === "CTA-left-plant") {
            entry.target.children[0].classList.remove("slideLeft");
          }
          if (entry.target.id === "CTA-right-plant") {
            entry.target.children[0].classList.remove("slideRight");
          }
        } else {
          if (entry.target.classList.contains("fallingTag")) {
            entry.target.classList.add("startingFallingAnim");
          }
          if (
            entry.target.classList.contains("floatUpTag") &&
            !entry.target.classList.contains("floatUp")
          ) {
            entry.target.classList.add("floatUp");
          }

          if (
            entry.target.classList.contains("sinkTag") &&
            !entry.target.classList.contains("sink")
          ) {
            entry.target.classList.add("sink");
          }
          if (entry.target.id === "lower-cost") {
            Bg1.classList.add("!max-h-0");
          }
          if (entry.target.id === "conservation") {
            Bg2.classList.add("!max-h-0");
          }
          if (entry.target.id === "durability") {
            Bg3.classList.add("!max-h-0");
          }
          /**introducing flow */
          if (entry.target.classList.contains("rotateContainer")) {
            for (let i = 0; i < entry.target.children.length; i++) {
              entry.target.children[i].classList.add("rotateOut");
            }
          }
          if (entry.target.id === "selling-item-1") {
            if (!entry.target.classList.contains("fadeOutDown"))
              entry.target.classList.add("fadeOutDown");
            SellItemInsignia1.classList.remove("before:scale-100");
          }
          if (entry.target.id === "selling-item-2") {
            if (!entry.target.classList.contains("fadeOutDown"))
              entry.target.classList.add("fadeOutDown");
            SellItemInsignia2.classList.remove("before:scale-100");
          }
          if (entry.target.id === "selling-item-3") {
            if (!entry.target.classList.contains("fadeOutDown"))
              entry.target.classList.add("fadeOutDown");
            SellItemInsignia3.classList.remove("before:scale-100");
          }

          if (entry.target.id === "Graphic_patterns") {
            PatternTwo?.classList.remove("slideInRight");
            PatternThree?.classList.remove("slideInLeft");
          }
          if (entry.target.id === "CTA-left-plant") {
            if (!entry.target.children[0].classList.contains("slideLeft"))
              entry.target.children[0].classList.add("slideLeft");
          }
          if (entry.target.id === "CTA-right-plant") {
            if (!entry.target.children[0].classList.contains("slideRight"))
              entry.target.children[0].classList.add("slideRight");
          }
        }
      });
    };
    const options = {
      threshold: 0.1,
    };
    const observer = new IntersectionObserver(callback, options);
    const FallFromTop = document.getElementsByClassName("fallingTag ");
    for (var i = 0; i < FallFromTop.length; i++) {
      observer.observe(FallFromTop[i]);
    }

    const FloatUpTag = document.getElementsByClassName("floatUpTag");
    for (var i = 0; i < FloatUpTag.length; i++) {
      observer.observe(FloatUpTag[i]);
    }

    const SinkTag = document.getElementsByClassName("sinkTag");
    for (var i = 0; i < SinkTag.length; i++) {
      observer.observe(SinkTag[i]);
    }

    const ChildrenFadeInFromBottomTag = document.getElementsByClassName(
      "childrenFadeInFromBottomTag",
    );
    for (var i = 0; i < ChildrenFadeInFromBottomTag.length; i++) {
      observer.observe(ChildrenFadeInFromBottomTag[i]);
    }

    const LowerCost = document.getElementById("lower-cost");
    const Conservation = document.getElementById("conservation");
    const Durability = document.getElementById("durability");
    const Safety = document.getElementById("safety");
    observer.observe(LowerCost);
    observer.observe(Conservation);
    observer.observe(Durability);
    observer.observe(Safety);

    /** Introducing Flow animation */
    const RotateContainer = document.getElementsByClassName("rotateContainer");
    for (var i = 0; i < RotateContainer.length; i++) {
      observer.observe(RotateContainer[i]);
    }

    /*interest section */
    observer.observe(GraphicPatterns);

    const SellExperience = document.getElementsByClassName("SellExperience");
    for (let i = 0; i < SellExperience.length; i++) {
      observer.observe(SellExperience[i]);
    }

    /*CTA section */
    const CTALeftPlant = document.getElementById("CTA-left-plant");
    const CTARightPlant = document.getElementById("CTA-right-plant");
    observer.observe(CTALeftPlant);
    observer.observe(CTARightPlant);
  });
</script>
