:root {
  --fallingDur: 1500ms;
  --duration1: 1000ms;
  --duration3: 3000ms;
  --panBDur: 500ms;
}

.fallingTag {
  transition:
    opacity var(--fallingDur) ease,
    transform var(--fallingDur) ease,
    visibility;
}

.startingFallingAnim {
  opacity: 0;
  transform: scale(1.5);
  visibility: hidden;
}

.RotateInTag {
  min-height: 30px;
}

.RotateInTag > * {
  transition: transform var(--duration1) ease;
}

.RotateInTag {
  transform: rotateX(-90deg);
}

.fadeInTag {
  transition: opacity var(--duration3) ease;
}

.fadeOut {
  opacity: 0;
}

.floatUpTag {
  transition:
    opacity 500ms ease,
    transform 500ms;
}

.floatUp {
  transform: translateY(20px);
  opacity: 0;
}

.sinkTag {
  transition:
    opacity 500ms ease,
    transform 1000ms;
  transition-delay: 500ms;
}

.sink {
  transform: translateY(-20px) !important;
  opacity: 0;
}

/*Animation for the forest icon for the CTA footer*/
.sink2 {
  transform: translateX(-50%) translateY(-20px) !important;
  opacity: 0;
}

.growTag {
  transition: width 500ms ease;
}

.shrink {
  width: 0px;
}

.panForwardTag {
  transform-style: preserve-3d;
  transition:
    opacity var(--panBDur),
    transform var(--panBDur);
}

.panBackward {
  opacity: 0;
  transform: scale3d(0, 0, 0);
}

.childrenFadeInFromBottomTag > * {
  transition:
    opacity 500ms ease,
    transform 500ms ease;
}

.rotateContainer {
  transform-style: preserve-3d;
  perspective: 100px;
}

.rotateOut {
  transform: rotateX(90deg);
  transform-origin: center bottom;
}

.slideLeft {
  transform: translateX(-300px);
  opacity: 0;
}

.slideRight {
  transform: translateX(300px);
  opacity: 0;
}

.floatAnim {
  animation: float 6s ease-in-out infinite;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media screen and (min-width: 768px) {
  .sink2 {
    transform: translateY(-20px) !important;
    opacity: 0;
  }
}
