@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .fancyButton {
    @apply w-fit px-5 py-1 rounded-lg cursor-pointer select-none active:translate-x-[1px] active:translate-y-[1px] relative bg-slate-300 text-white font-bold select-none;
  }
}

/*banner section of home page*/
.pattern-layer {
  animation: slide 60s linear infinite;
  -webkit-animation: slide 60s linear infinite;
}

#MobileWhiteDiv {
  transform: rotateZ(360px);
  animation: MobileReveal 1000ms forwards;
  -webkit-animation: MobileReveal 1000ms forwards;
}

/*home page hero section */
/*keyframes for grass */
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1920px 0;
  }
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1920px 0;
  }
}

#HeroSection {
  /* animation: HeroSectionReveal 1500ms linear; */
}

@keyframes HeroSectionReveal {
  from {
    max-height: 0vh;
  }
  to {
    max-height: 85vh;
  }
}

@keyframes gradientAnimation {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes MobileReveal {
  from {
    max-height: 100%;
  }
  to {
    max-height: 0;
  }
}

@media screen and (min-width: 768px) {
  #HeroSection {
    animation: none;
  }

  #HeroBackdrop {
    background: linear-gradient(to left, transparent 20%, rgb(0, 0, 0) 60%);
    opacity: 0.45;
    animation: gradientAnimation 1500ms forwards;
  }

  .pattern-layer {
    transform: translateY(0px);
  }
}
