---
const { customStyle } = Astro.props;
---

<div id="CreatorContainer" class={`${customStyle}`}>
  <div class="mx-auto">
    Developed by &nbsp;
    <span class="underline cursor-pointer font-bold text-lg">
      <a
        rel="nofollow"
        aria-label=`Agency website - Opens in new tab`
        href="https://www.LADesignInitiative.com"
        target="_blank">LA Design Initative</a
      >
    </span>
  </div>
</div>
