---

---

<div
  class="rotateContainer font-bold text-center text-2xl sm:text-3xl md:text-4xl lg:text-6xl py-10 [&>span]:inline-block [&>span]:duration-[100ms]"
>
  <span class="transition-all rotateOut delay-[0ms]">I</span>
  <span class="transition-all rotateOut delay-[50ms]">N</span>
  <span class="transition-all rotateOut delay-[100ms]">T</span>
  <span class="transition-all rotateOut delay-[150ms]">R</span>
  <span class="transition-all rotateOut delay-[200ms]">O</span>
  <span class="transition-all rotateOut delay-[250ms]">D</span>
  <span class="transition-all rotateOut delay-[300ms]">U</span>
  <span class="transition-all rotateOut delay-[350ms]">C</span>
  <span class="transition-all rotateOut delay-[400ms]">I</span>
  <span class="transition-all rotateOut delay-[450ms]">N</span>
  <span class="transition-all rotateOut delay-[500ms]">G</span>
  <span>&nbsp;</span>
  <span class="transition-all rotateOut delay-[600ms] text-primaryC">F</span>
  <span class="transition-all rotateOut delay-[650ms] text-primaryC">L</span>
  <span class="transition-all rotateOut delay-[700ms] text-primaryC">O</span>
  <span class="transition-all rotateOut delay-[750ms] text-primaryC">W</span>
</div>
