---
import Icon from "@/assets/icons/warranty.webp";
---

<div
  class="flex flex-col justify-center text-center relative min-h-[250px] py-10 childrenFadeInFromBottomTag bg-[#f0f0f0] leading-10"
>
  <div class="absolute top-0 left-0 right-0 z-[0] opacity-[.03]">
    <img
      src={Icon.src}
      alt="artificial turf installation warranty"
      class="w-[250px] aspect-square mx-auto"
      decoding="async"
      loading="lazy"
    />
  </div>
  <h2 class="font-bold text-2xl md:text-4xl floatUp">
    Securing your investment
  </h2>
  <p class="floatUp delay-[250ms]">
    When clients invest in our Turf, they enjoy the following benefits:
  </p>
  <p class="floatUp delay-500">15 year warranty with the manufacturer</p>
  <p class="floatUp delay-[750ms]">
    1 year installation warranty - If there is something wrong with their turf,
    it will be replaced.
  </p>
</div>
