<div id="Experience" class="">
  <div class="content_block_1">
    <div class="content-box relative block mr-[70px]">
      <div class="sec-title mb-[35px]">
        <span
          class="font-secondaryF uppercase text[#2f7955] text-[18px] leading-[28px] font-bold mb-[16px]"
          >About</span
        >
        <h2
          class="text-[36px] leading-[44px] block md:text-[55px] md:leading-[65px] font-primaryF"
        >
          20 Years of <br />Great Experience.
        </h2>
      </div>
      <div class="text relative block mb-[40px]">
        <p class="font-primaryF">
          At Natural Patterns Landscaping, we are more than just a landscaping
          business – we are the stewards of your outdoor dreams. With a
          deep-rooted passion for nature's beauty and a commitment to crafting
          breathtaking landscapes, we transform ordinary spaces into living
          works of art that seamlessly blend with the environment.
        </p>
      </div>
      <div
        class="relative block bg-primaryC text-secondarC w-fit rounded-[5px] group"
      >
        <a
          href="/"
          class="relative inline-block overflow-hidden align-middle text-[17px] leading-[26px] font-600 font-primaryF text-white text-center py-[17px] px-[30px] rounded-[5px] capitalize z-[1] no-underline before:absolute before:inset-0 before:w-full before:h-full before:opacity-100 before:content-[''] before:z-[-1] before:bg-primaryHoverC before:max-w-0 group-hover:before:max-w-[100%] before:transition-all before:transition-linear before:duration-500"
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>
