---
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import PhotoData from "@/data/project-photos.js";
import Banner from "@/components/small_banner/index.astro";
import Gallery from "@/components/squared-gallery/index.tsx";
return Astro.redirect("/expired");
---

<StandardNavBar pageTitle="Projects" withCTA={true}>
  <Banner title="Projects" subtitle="See our collection of documented work" />
  <div class="mx-auto max-w-7xl px-1 sm:px-6 lg:px-8 py-10">
    <Gallery
      images={PhotoData as any}
      altText="Artificial Turf Project"
      client:only="react"
    />
  </div>
</StandardNavBar>
<script src="/script/default.js" is:inline></script>
