---
import { BusinessInfo } from "@/data/business-info.js";
const publicKey = import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY;
const serviceId = import.meta.env.PUBLIC_EMAILJS_SERVICE_ID;
const templateId = import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID;
const {
  title = "Have something to say?",
  subtitle = "Share your thoughts.",
  BTNLabel = "Send",
} = Astro.props;
---

<form
  method="POST"
  class="mx-auto w-11/12 lg:w-6/12 md:h-[700px] rounded-lg box_shadow z-[2] relative flex md:flex-row overflow-hidden bg-white border-t-primaryColor border-t-solid border-t-[5px]"
  id="contactForm"
>
  <div
    id="Shell"
    class=`w-11/12 py-10 md:max-w-[50%] mx-auto [&>div>label]:text-black [&>div>label]:text-base [&>div>label]:font-bold  text-2xl`
  >
    <div class="grid sm:flex">
      <section class="mx-auto sm:ml-[5px]">
        <h2 class="text-base sm:text-2xl text-center font-bold my-1 uppercase">
          {title}
        </h2>
        <h2 class="text-base sm:text-lg text-center my-1">{subtitle}</h2>
      </section>
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="nameInput">Full name *</label>
      <input
        name="name"
        id="nameInput"
        type="text"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="emailInput">Email *</label>
      <input
        name="email"
        id="emailInput"
        type="email"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="phoneInput">Phone number *</label>
      <input
        name="phone"
        id="phoneInput"
        type="tel"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <!-- <div class = "flex flex-col w-full my-[10px]">
                <label class ="formLabel">Subject Line</label>
                <input 
                    name="subject"
                    id="subjectInput"
                    type="text"
                    class = "bg-slate-100 rounded-lg px-1 text-base"
                />
            </div> -->
    <div class="grid w-full my-[10px]">
      <label class="formLabel" for="messageInput">Message</label>
      <textarea
        name="message"
        id="messageInput"
        rows="5"
        class="text-base outline-1 border-2 border-solid border-slate-200 resize-none p-1 rounded-lg bg-transparent placeholder:text-base placeholder:text-slate-800"
        placeholder="Type your message here."></textarea>
    </div>
    <button
      class="fancyButton bg-primaryC hover:bg-primarcyHoverC !mx-auto text-center"
      type="submit">{BTNLabel}</button
    >
    <div class="text-base pb-10">* required</div>
  </div>
</form>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script
  type="module"
  define:vars={{ publicKey, serviceId, templateId, BusinessInfo }}
  is:inline
>
  (function () {
    try {
      emailjs.init(publicKey);
    } catch (error) {
      console.log("error: ", error);
    }
  })();

  const HandleSubmit = () => {
    const nameInput = document.getElementById("nameInput");
    const emailInput = document.getElementById("emailInput");
    const phoneInput = document.getElementById("phoneInput");
    const messageInput = document.getElementById("messageInput");

    const name = nameInput?.value;
    const email = emailInput?.value;
    const phone = phoneInput?.value;
    const message = messageInput?.value;
    var templateParams = {
      to_name: BusinessInfo.owner,
      from_name: name,
      subject_line: "Law firm website design and development inquiry.",
      phone_number: phone,
      message,
      reply_to: email,
    };
    try {
      emailjs.send(serviceId, templateId, templateParams).then(
        function (response) {
          console.log("SUCCESS!", response.status, response.text);
          window.location.href = "/message_sent";
        },
        function (error) {
          console.log("FAILED...", error);
        },
      );
    } catch (error) {
      console.log("error: ", error);
    }
  };
  const ContactForm = document.getElementById("contactForm");
  ContactForm?.addEventListener("submit", (event) => {
    event.preventDefault();
    HandleSubmit();
  });
</script>
