---
//Uses formsubmit.co
import { BusinessInfo } from "@/data/business-info.js";

const {
  title = "Have something to say?",
  subtitle = "Share your thoughts.",
  BTNLabel = "Send",
} = Astro.props;
---

<form
  method="POST"
  class="mx-auto w-11/12 lg:w-6/12 md:h-[700px] rounded-lg box_shadow z-[2] relative flex md:flex-row overflow-hidden bg-white border-t-primaryColor border-t-solid border-t-[5px]"
  id="contactForm"
  action="https://formsubmit.co/hualbert.y@gmail.com"
>
  <div
    id="Shell"
    class=`w-11/12 py-10 md:max-w-[50%] mx-auto [&>div>label]:text-black [&>div>label]:text-base [&>div>label]:font-bold  text-2xl`
  >
    <div class="grid sm:flex">
      <section class="mx-auto">
        <h2 class="text-base sm:text-2xl text-center font-bold my-1 uppercase">
          {title}
        </h2>
        <h2 class="text-base sm:text-lg text-center my-1">{subtitle}</h2>
      </section>
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="nameInput">Full name *</label>
      <input
        name="name"
        id="nameInput"
        type="text"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="emailInput">Email *</label>
      <input
        name="email"
        id="emailInput"
        type="email"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <div class="flex flex-col w-full my-[10px]">
      <label class="formLabel" for="phoneInput">Phone number *</label>
      <input
        name="phone"
        id="phoneInput"
        type="tel"
        class="bg-slate-100 rounded-lg px-1 text-base"
        required
      />
    </div>
    <div class="grid w-full my-[10px]">
      <label class="formLabel" for="messageInput">Message</label>
      <textarea
        name="message"
        id="messageInput"
        rows="5"
        class="text-base outline-1 border-2 border-solid border-slate-200 resize-none p-1 rounded-lg bg-transparent placeholder:text-base placeholder:text-slate-800"
        placeholder="Type your message here."></textarea>
    </div>
    <input
      type="hidden"
      name="_next"
      value="https://hard-rock-landscaping.netlify.app/quote_requested"
    />
    <button
      class="fancyButton bg-primaryC hover:bg-primarcyHoverC !mx-auto text-center"
      type="submit">{BTNLabel}</button
    >
    <div class="text-base pb-10">* required</div>
  </div>
</form>
