---
import LiquidButton from "@/components/buttons/liquid-button/index.astro";
import "./title_style.css";
const { title, subtitle, button_label, link, titleStyle, wrapperStyle } =
  Astro.props;
---

<div
  id="TitleSection"
  class="absolute h-fit w-full top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] z-[50] text-white font-['Prata', sans-serif]"
>
  <div
    id="TitleWrapper"
    class={wrapperStyle ? wrapperStyle : "w-11/12 sm:max-w-[800px] mx-auto"}
  >
    <h1
      class={titleStyle
        ? titleStyle
        : "text-white text-center text-2xl sm:text-[50px] leading-[50px] sm:text-[90px] sm:leading-[90px] fadeInUp font-['Prata',serif]"}
    >
      {title}
    </h1>
    <h2
      class="text-white text-center text-sm sm:text-[20px] !block fadeInUp opacity-0 animation-delay-1 font-['Montserrat',sans-serif]"
    >
      {subtitle}
    </h2>
    {
      button_label && (
        <LiquidButton
          {button_label}
          {link}
          customStyle="fadeInUp opacity-0 animation-delay-2 font-['Montserrat',sans-serif] text-[17px] my-10"
        />
      )
    }
  </div>
</div>
