---
import SearchBar from "./searchbar";
const {} = Astro.props;
---

<form
  id="SearchBar"
  class="relative block py-[30px] px-[40px] rounded-lg mt-10 mb-10 border-2 border-[#dbdbdb] h-fit border-solid"
>
  <SearchBar client:load />
</form>
