---
import CTA from "@/components/contact-form/CTA.astro";
---

<section>
  <h2>
    Are you ready to experience bliss in every step of your feet? Let's discuss
    transforming your yard with artificial grass.
  </h2>
  <CTA
    title="Let's discuss your project!"
    subtitle="Every project begins with a hello."
    BTNLabel="Send"
  />
</section>
