---
import CTA from "@/components/contact-form/CTA.astro";
---

<section class="bg-white block w-full py-10 px-5 relative">
  <h2 class="text-center">
    Are you ready to experience bliss in every step of your feet? Let's discuss
    transforming your yard with artificial grass.
  </h2>
  <CTA
    title="Let's discuss your project!"
    subtitle="Every project begins with a hello."
    BTNLabel="Send"
  />
</section>
