---
import InterestSection from "@/components/interest_section/index.astro";
import Puddles from "@/assets/icons/flow-interest/puddles-white.webp";
import Mosquito from "@/assets/icons/flow-interest/mosquito-white.webp";
import Heat from "@/assets/icons/flow-interest/hot-white.webp";
import BGImg from "@/assets/images/tree-3.webp";
import TitleAnimation from "@/components/introducing-flow.astro";
---

<section class="[&>h3]:font-bold [&>h3]:mb-5 relative">
  <div class="flex flex-col">
    <div class="justify-center flex flex-col">
      <h2 class="text-3xl md:text-4xl font-bold mb-5 text-center">
        <TitleAnimation />
      </h2>
      <h3 class="font-bold text-2xl text-slate-600 text-center">
        The latest synthetic grass technology that prevents puddles and
        infestations
      </h3>
    </div>
    <div>
      <img
        src="/assets/images/turf_preview.png"
        alt="Flow turf"
        decoding="async"
        loading="lazy"
        class="w-[646px] aspect-[4/3] object-cover m-auto"
      />
    </div>
  </div>
  <InterestSection
    SellingPoint1="No puddles"
    SellingPoint2="Prevents mosquito infestations "
    SellingPoint3="Less trapped heat"
    ,
    icon1={Puddles}
    icon2={Mosquito}
    icon3={Heat}
    {BGImg}
  >
    <div class="[&>p]:mb-5 mx-auto">
      <p>
        Many inferior artificial turf products that exist in the market are
        susceptible to forming puddles after a rainy weather. Not resolving the
        problem right away will eventually lead to a mosquito infestation. These
        stagnant water pools create a perfect breeding ground for mosquitoes,
        which can pose health risks.<br />
      </p>
      <p>
        Tackling this issue requires regular maintenance checks to identify
        areas where water tends to accumulate or installing a drainage system
        beneath the system.
      </p>
      <p>
        However, our artificial grass product <strong class="text-primaryC"
          >Flow</strong
        > avoids this requirement and resolves the issue of puddles.
      </p>
      <p>
        This new turf technology has more porous holes that allows water to be
        absorbed better. Thus, you can <strong>say goodbye</strong> to stagnant puddles
        of water and mosquitoes.
      </p>
      <p>
        It is also cleaner than regular artificial turf because any unwanted
        material, such as dog urine, washes off easier.
      </p>
      <p>
        <strong class="text-primaryC">Flow</strong> also retains less heat, compared
        to regular fake grass, which has difficulty in cooling itself naturally especially
        in hot summers.
      </p>
    </div>
  </InterestSection>
  <div class="absolute bottom-0 left-0 right-0 w-full z-[-1]">
    <svg
      width="100%"
      height="100%"
      id="svg"
      viewBox="0 0 1440 250"
      xmlns="http://www.w3.org/2000/svg"
      class="transition duration-300 ease-in-out delay-150"
      ><style>
        .path-1 {
          animation: pathAnim-0 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-0 {
          0% {
            d: path(
              "M 0,400 L 0,150 C 116.17857142857142,120.17857142857143 232.35714285714283,90.35714285714286 369,112 C 505.64285714285717,133.64285714285714 662.75,206.75 769,217 C 875.25,227.25 930.6428571428571,174.64285714285714 1034,153 C 1137.357142857143,131.35714285714286 1288.6785714285716,140.67857142857144 1440,150 L 1440,400 L 0,400 Z"
            );
          }
          25% {
            d: path(
              "M 0,400 L 0,150 C 144.35714285714286,122.42857142857143 288.7142857142857,94.85714285714286 398,107 C 507.2857142857143,119.14285714285714 581.5000000000001,171 696,189 C 810.4999999999999,207 965.2857142857142,191.14285714285714 1096,179 C 1226.7142857142858,166.85714285714286 1333.357142857143,158.42857142857144 1440,150 L 1440,400 L 0,400 Z"
            );
          }
          50% {
            d: path(
              "M 0,400 L 0,150 C 125.28571428571428,138.85714285714286 250.57142857142856,127.71428571428572 369,150 C 487.42857142857144,172.28571428571428 598.9999999999999,228 705,216 C 811.0000000000001,204 911.4285714285713,124.28571428571428 1033,102 C 1154.5714285714287,79.71428571428572 1297.2857142857142,114.85714285714286 1440,150 L 1440,400 L 0,400 Z"
            );
          }
          75% {
            d: path(
              "M 0,400 L 0,150 C 153.39285714285717,144.78571428571428 306.78571428571433,139.57142857142858 421,153 C 535.2142857142857,166.42857142857142 610.2499999999999,198.5 725,207 C 839.7500000000001,215.5 994.2142857142858,200.42857142857144 1120,187 C 1245.7857142857142,173.57142857142856 1342.892857142857,161.78571428571428 1440,150 L 1440,400 L 0,400 Z"
            );
          }
          100% {
            d: path(
              "M 0,400 L 0,150 C 116.17857142857142,120.17857142857143 232.35714285714283,90.35714285714286 369,112 C 505.64285714285717,133.64285714285714 662.75,206.75 769,217 C 875.25,227.25 930.6428571428571,174.64285714285714 1034,153 C 1137.357142857143,131.35714285714286 1288.6785714285716,140.67857142857144 1440,150 L 1440,400 L 0,400 Z"
            );
          }
        }
      </style><path
        d="M 0,400 L 0,150 C 116.17857142857142,120.17857142857143 232.35714285714283,90.35714285714286 369,112 C 505.64285714285717,133.64285714285714 662.75,206.75 769,217 C 875.25,227.25 930.6428571428571,174.64285714285714 1034,153 C 1137.357142857143,131.35714285714286 1288.6785714285716,140.67857142857144 1440,150 L 1440,400 L 0,400 Z"
        stroke="none"
        stroke-width="0"
        fill="#f0f0f0"
        fill-opacity="1"
        class="transition-all duration-300 ease-in-out delay-150 path-1"
      ></path></svg
    >
    <div
      class="bg-[#f0f0f0] w-full mb-0 mt-auto h-[2100px] [@media(min-width:400px)]:h-[1800px] [@media(min-width:646px)]:h-[1550px] [@media(min-width:768px)]:h-[950px]"
    >
    </div>
  </div>
</section>
