---

---

<section class="relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    class="absolute top-[-100px] left-0 right-0 w-full z-[-1]"
    ><path
      fill="#f0f0f0"
      fill-opacity="1"
      d="M0,160L720,320L1440,128L1440,0L720,0L0,0Z"></path></svg
  >
  <div class="px-5">
    <h2 class="text-2xl md:text-3xl font-bold mb-5">
      Why work with us rather than other artificial turf installers in Los
      Angeles?
    </h2>
    <h3>Flexibility</h3>
    <p>
      If you have any last minute changes even if a project has already started,
      we will adjust our procedures to make them happen.
    </p>
    <h3>Resourcefulness</h3>
    <p>
      If you require a specific material that is hard to find, we will
      demonstrate our resourcefulness.
    </p>
    <h3>Affordability</h3>
    <p>If your budget is tight, we can negotiate ways to maneuver around it.</p>
    <h3>Landscape design expertise</h3>
    <p>
      We want to share our passion for landscape design with our community,
      which can benefit from our knowledge and years of experience in artificial
      turf installation.
    </p>
    <p>
      In every project, it is our mission to help clients achieve what they
      envisioned their yards to look like.
    </p>
    <h3>Pavers and cement work</h3>
    <p>
      We also include installing pavers and cement work when installing
      synthetic grass. This helps to take our designs to the next level.
    </p>
    <h3>Securing your investment</h3>
    <p>
      We offer a very generous policy. To elaborate, your artificial turf will
      have a 15 year warranty with the manufacturer and 1 year turf installation
      warranty with us. This means that if the product has a defect, it will be
      replaced.
    </p>
  </div>
</section>
