---
import MobileMenu from "../MobileMenu/index.astro";
import "../header.css";
import DesktopHeader from "./desktopHeader.astro";
const { interactive } = Astro.props;
---

<!-- Fav Icon -->
<div
  id="backdrop"
  class="fixed z-[199] left-0 top-0 right-0 bottom-0 w-full h-full bg-secondaryC transition-all duration-[900ms] opacity-70 !opacity-0 invisible"
>
</div>
<DesktopHeader interactive={interactive} />
<!-- <MobileHeader {interactive} /> -->
<MobileMenu />
<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const MobileToggler = document.getElementById("mobile-nav-toggler");
    const CloseBtn = document.getElementById("close-btn");
    const CloseMenuLink = document.getElementById("close-menu-link");
    const MobileMenu = document.getElementById("mobile-menu");
    const Backdrop = document.getElementById("backdrop");
    const OpenMenu = () => {
      if (MobileMenu?.classList.contains("mobile-menu-close")) {
        MobileMenu?.classList.remove("mobile-menu-close");
        Backdrop?.classList.remove("!opacity-0");
        Backdrop?.classList.remove("invisible");
      } else {
        MobileMenu?.classList.add("mobile-menu-close");
        Backdrop?.classList.add("!opacity-0");
        Backdrop?.classList.add("invisible");
      }
    };

    const CloseMenu = () => {
      if (!MobileMenu?.classList.contains("mobile-menu-close")) {
        MobileMenu?.classList.add("mobile-menu-close");
        Backdrop?.classList.add("!opacity-0");
        Backdrop?.classList.add("invisible");
      }
    };
    const CheckIfClickedOutside = (event) => {
      if (
        !MobileMenu?.classList.contains("mobile-menu-close") &&
        !MobileToggler?.contains(event.target) &&
        !MobileMenu?.contains(event.target)
      ) {
        MobileMenu?.classList.add("mobile-menu-close");
        Backdrop?.classList.add("!opacity-0");
        Backdrop?.classList.add("invisible");
      }
    };
    MobileToggler?.addEventListener("mousedown", OpenMenu);
    CloseBtn?.addEventListener("mousedown", CloseMenu);
    CloseMenuLink?.addEventListener("mousedown", CloseMenu);
    window.addEventListener("mousedown", CheckIfClickedOutside);
  });
</script>
