---
import "./liquid-button.css";
const {
  button_label,
  link,
  customStyle = "",
  btnColor,
  txtStyle,
  maskColor,
  customID,
  newTab,
} = Astro.props;
const BeforeStyle = `before:object-fit before:content-[''] before:h-full before:w-0 ${maskColor ? maskColor : "before:bg-[#21563D]"} before:bg-[#21563D] before:absolute before:inset-0 before:opacity-60 hover:before:w-full before:transform-all before:z-[0]`;
---

<button
  id=`${customID ? customID : button_label}-liquid-button`
  class={`w-fit mx-auto rounded-lg cursor-pointer select-none active:translate-x-[1px] active:translate-y-[1px] relative ${btnColor ? btnColor : "bg-primaryC"}  text-white font-bold overflow-hidden ${BeforeStyle} clippedShape ${customStyle}`}
>
  <a
    href={link}
    target={`${newTab ? "_blank" : "_self"}`}
    aria-label="opens in new tab"
    class={`capitalize text-base whitespace-nowrap py-[17px] px-[30px] ${txtStyle ? txtStyle : "text-white font-primaryF"} text-center relative !select-none`}
  >
    {button_label}
  </a>
</button>
