.clippedShape {
  position: relative;
}

.clippedShape::before {
  clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
  transition: clip-path 500ms;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  content: "";
}

.clippedShape:hover::before {
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  z-index: 0;
}
