---
/*This slider is only for the homepage */
import Slide1 from "@/assets/slides/hero/slide-1.webp";
import Slide2 from "@/assets/slides/hero/slide-2.webp";
import Slide3 from "@/assets/slides/hero/slide-3.webp";
import Grass from "@/assets/images/shape/shape-2.webp";
import ArrowButton from "@/components/buttons/arrow-button.astro";
var HeroImages: Array<ImageMetadata> = [];
try {
  HeroImages.push(Slide1);
  HeroImages.push(Slide2);
  HeroImages.push(Slide3);
} catch (error) {
  console.log("Error: ", error);
}
---

<section
  id="HeroSection"
  class="relative flex text-center block bg-cover bg-no-repeat bg-center overflow-hidden h-[60vh] md:h-[85vh] w-full scrollToTopIndicator bg-[url('/assets/images/hero-image-artificial-lawn-763-compressed.webp')] md:bg-[url('/assets/images/hero-image-artificial-lawn-1600.webp')] 2xl:bg-[url('/assets/images/hero-image-artificial-lawn-2234.webp')] translate-y-[15px] sm:translate-y-[0px]"
>
  <div
    id="HeroBackdrop"
    class="absolute inset-0 md:left-0 md:top-0 md:bottom-0 z-[0] w-full md:w-d[50%] h-full opacity-50 md:opacity-60 bg-black"
  >
  </div>
  <div
    class="pattern-layer absolute left-0 right-0 bottom-[0px] bg-repeat-x h-[54px] w-full z-[19]"
    style=`background-image:url(${Grass.src})`
  >
  </div>

  <div
    class="m-auto md:mtd-[130px] text-white z-[1] px-5 md:text-left md:w-[50%] md:ml-[20px] md:mr-auto childrenFadeInFromBottomTag"
  >
    <h1 class="text-2xl md:text-4xl font-bold text-white uppercase floatUp">
      Artificial Turf Installation
    </h1>
    <h2 class="text-2xl floatUp delay-200">
      Keep your outdoor space green and lush while saving water and hours on
      grass maintenance
    </h2>
    <h2 class="mb-5 floatUp delay-[400ms]">
      Experience delight in every step you take on synthetic grass.
    </h2>
    <div class="floatUp delay-[600ms]">
      <ArrowButton label="Let's discuss" link="/#contact-us-section" />
    </div>
  </div>
</section>
