---
const { pageTitle, customDescription } = Astro.props;
import NavBar from "@/components/navigation/standard/index.astro";
import BaseLayout from "./BaseLayout.astro";
import ScrollTopButton from "@/components/buttons/ScrollTopButton/index.astro";
---

<BaseLayout {pageTitle} {customDescription}>
  <NavBar interactive={true} />
  <div id="main" class="">
    <slot />
  </div>
  <ScrollTopButton />
</BaseLayout>
